@import '../../../assets/styles/colors';
@import '../../../assets/styles/global';
@import '../../../assets/styles/typo';

* {
  color: $color-white;
  font-family: 'Rajdhani';
}

.results {
  display: flex;
  justify-content: space-between;
}

.row {
  button {
    @extend %btn;
    text-transform: uppercase;
  }
}