<h1>Produits</h1>

<div class="results pt-3">
  <p>
    Résultats : <span class="mx-2">{{ products.length }}</span>
  </p>
  <div class="sort">
    <p>Trier par <i class="fa-solid fa-chevron-down arrow"></i></p>
  </div>
</div>
<div class="row">
  <ng-container
    *ngFor="
      let product of products | paginate: { itemsPerPage: 9, currentPage: page }
    "
  >
    <div class="col-md-4">
      <div class="card my-3" style="width: 15rem">
        <img [src]="product.imgURL" alt="card image" class="card-img" />
        <div class="bg-dark py-3 text-center">
          <h5 class="card-title">{{ product.nom | uppercase }}</h5>
          <h5 class="card-price">{{ product.prix | currency: "EUR" }}</h5>
        </div>
        <app-button text="ajouter au panier"></app-button>
      </div>
    </div>
  </ng-container>
  <div class="pages">
    <pagination-controls
      class="text-center"
      previousLabel="Précédent"
      nextLabel="Suivant"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
</div>
