@import '../../../assets/styles/colors';
@import '../../../assets/styles/global';
@import '../../../assets/styles/typo';

* {
  color: $color-white;
  font-family: 'Rajdhani';
}

.results {
  display: flex;
  justify-content: space-between;
  .arrow {
    color: $color-red;
  }
}

// .row {
//   .card {
//     &:hover {
//       scale: 1.1;
//     }
//   }
// }