@import '../../../assets/styles/colors';
@import '../../../assets/styles/typo';
@import '../../../assets/styles/global';

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 80%;
  margin: 0 auto;
}

.card {
  background: $color-black;
  color: $color-white;
  p {
    font-family: 'Space Grotesk';
    font-size: 12px;
  }
}

.line-text {
  @extend %flexCenter;
  margin-bottom: 15px;
  margin-top: 40px;
  img {
    padding: 5px;
  }
}

.icons {
  @extend %flexCenter;
  margin-top: 15px;
  margin-bottom: 40px;
  .branding {
    margin-right: 10px;
    img {
      padding: 5px;
    }
  }
  .social-links {
    margin-left: 10px;
    img {
      padding: 15px;
    }
  }
}