<div class="card text-center">
  <!-- <div class="card-header">Featured</div> -->
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a> -->
    <div class="line-text">
      <img src="../../../assets/img/logos/icon_WB.png" alt="icon warner bros" />
      <p>
        Ce projet respecte l’univers cinématographique des films Batman récents.
        Version Nolan & Snyder & Reeves.
      </p>
    </div>
    <div class="icons">
      <div class="branding">
        <img src="../../../assets/img/logos/logo_1.png" alt="logo sayna" />
        <img src="../../../assets/img/logos/logo_2.png" alt="logo x" />
        <img src="../../../assets/img/logos/logo_3.png" alt="logo DC" />
      </div>
      <div class="social">
        <img src="../../../assets/img/logos/logo_4.1.png" alt="logo facebook" />
        <img src="../../../assets/img/logos/logo_5.png" alt="logo instagram" />
        <img src="../../../assets/img/logos/logo_6.png" alt="logo twitter" />
      </div>
    </div>
  </div>
  <!-- <div class="card-footer text-muted">2 days ago</div> -->
</div>
