<footer class="card text-center">
  <div class="container">
    <div class="card-body">
      <div class="line-text">
        <img
          src="../../../assets/img/logos/logo_0.png"
          alt="icon warner bros"
        />
        <p>
          Ce projet respecte l’univers cinématographique des films Batman
          récents. Version Nolan & Snyder & Reeves.
        </p>
      </div>
      <div class="icons">
        <div class="branding">
          <img
            class="brand"
            src="../../../assets/img/logos/logo_1.png"
            alt="logo Sayna"
          />
          <img
            class="brand"
            src="../../../assets/img/logos/logo_2.png"
            alt="logo x"
          />
          <img
            class="brand"
            src="../../../assets/img/logos/logo_3.png"
            alt="logo DC"
          />
        </div>
        <div class="social-links">
          <img
            class="social"
            src="../../../assets/img/logos/logo_4.1.png"
            alt="logo facebook"
          />
          <img
            class="social"
            src="../../../assets/img/logos/logo_5.png"
            alt="logo instagram"
          />
          <img
            class="social"
            src="../../../assets/img/logos/logo_6.png"
            alt="logo twitter"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
