$color-black: #000000;
$color-dark: #0D0E09;
// -----
$color-gray: #C4C4C4;
$color-white: #FFFFFF;
// -----
$color-blue: #19587D;
$color-red: #B11313;
// -----
$color-yellow-1: #FFFF00;
$color-yellow-2: #F8F184;
// -----
$color-gradient-1: linear-gradient(#EDDEBF 40%, #19587D 40%);
$color-gradient-2: linear-gradient(#EDDEBF 40%, #890008 60%);