@import '../../assets/styles/colors';
@import '../../assets/styles/typo';

.container {
  width: 80%;
  margin: 0 auto;
}

img:hover {
  cursor: pointer;
}

p {
  font-size: 20px;
  margin: 10px 0;
  color: $color-white;
  font-family: 'Space Grotesk';
}

@mixin bg-hero($bg-img) {
  background-position: top center;
  background-image: $bg-img;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(130vh - 30px);
}

%title {
  font-weight: bold;
  font-size: 36px;
  color: $color-white;
  font-family: 'Space Grotesk';
}

%btn {
  font-family: 'Rajdhani';
  font-size: 20px;
  font-weight: bold;
  padding: 10px 50px;
  color: $color-white;
  border: none;
  border-radius: 5px;

  text-decoration: none;
  display: inline-block;
  background: linear-gradient(
    70deg,
    rgba(237, 222, 191, 1) 40%,
    rgba(137, 0, 8, 1) 60%
  );
  box-shadow: $color-black 5px 5px 60px;
  margin-left: 20px;
  &:hover {
    background: linear-gradient(
      70deg,
      rgba(237, 222, 191, 1) 40%,
      rgba(137, 0, 8, 0.4) 60%
    );
    text-shadow: 2px 2px 3px $color-black;
  }
}

.brand:hover,
.social:hover,
.hoveryellow:hover {
  filter: invert(18%) sepia(82%) saturate(4658%) hue-rotate(355deg)
    brightness(109%) contrast(112%);
}