/* You can add global styles to this file, and also import other style files */
@import './assets/styles/colors';
@import './assets/styles/global';
@import './assets/styles/typo';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}