<section id="hero">
  <div class="container">
    <div class="content">
      <h1 class="text-uppercase">
        Récupérez le flow de <br />
        Batman avec notre e-shop!
      </h1>
    </div>
    <img
      class="arrow"
      src="../../../assets/img/logos/arrow_down_header.png"
      alt=""
    />
  </div>
</section>

<app-cart></app-cart>

<section>
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-3">
        <app-filter></app-filter>
      </div>
      <div class="col-md-9">
        <app-products></app-products>
      </div>
    </div>
  </div>
</section>
