<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          class="img-fluid"
          src="https://images.unsplash.com/photo-1584824486516-0555a07fc511?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt=""
        />
      </div>
      <div class="col-md-6 text-center mt-5">
        <h1>404 Error</h1>
        <p>Cette page n'existe pas ou n'existe plus.</p>
      </div>
    </div>
  </div>
</section>
