@import '../../../assets/styles/colors';
@import '../../../assets/styles/global';
@import '../../../assets/styles/typo';

footer {
  font-family: 'Rajdhani';
  color: $color-white;
  button {
    @extend %btn;
    margin: 10px 0;
  }
}