<footer>
  <div class="container py-5">
    <div class="row mt-5">
      <div class="col-md-6 mt-5">
        <img
          class="img-fluid"
          src="https://images.unsplash.com/photo-1584824486516-0555a07fc511?ixlib=rb-1.2.1&ixid=MnwxMjA3fDBgcc8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
          alt=""
        />
      </div>
      <div class="col-md-6 text-center mt-5">
        <h1>404 ERROR</h1>
        <h5>Cette page n'existe pas ou n'existe plus.</h5>
        <button (click)="onHome()">Notre page d'accueil</button>
        &nbsp;
        <button (click)="onEshop()">Voir nos produits</button>
      </div>
    </div>
  </div>
</footer>
