<section id="hero">
  <div class="container">
    <div class="content">
      <p>let's play a <br />little game...</p>
    </div>
    <img
      class="arrow"
      src="../../../assets/img/logos/arrow_down_header.png"
      alt=""
    />
  </div>
</section>

<section id="quizz">
  <div class="card-quizz">
    <h1 class="title">connaissez-vous bien le chevalier noir ?</h1>
    <img
      class="batman"
      src="../../../assets/img/illustrations_game/Batgame_2.png"
      alt=""
    />
    <a href="" class="btn">demarrer le quizz</a>
  </div>
</section>
