<div class="scroll">
  <a href="#">
    <img
      class="arrow hoveryellow"
      src="../../../assets/img/logos/logo_bat_arrow_1.png"
      alt=""
    />
  </a>
  <img
    class="social hoveryellow"
    src="../../../assets/img/logos/logo_4.1.png"
    alt=""
  />
  <img
    class="social hoveryellow"
    src="../../../assets/img/logos/logo_5.png"
    alt=""
  />
  <img
    class="social hoveryellow"
    src="../../../assets/img/logos/logo_6.png"
    alt=""
  />
  <a href="#">
    <img
      class="arrow hoveryellow"
      src="../../../assets/img/logos/logo_bat_arrow_2.png"
      alt=""
    />
  </a>
</div>
