<section id="hero">
  <div class="container">
    <div class="content">
      <p>
        Au nom de ses parents assassinés, Bruce Wayne mène une guerre éternelle
        contre les criminels de Gotham City. Il est vengeur. Il est la nuit.
      </p>
      <h2 class="title">Il est Batman.</h2>
      <div>
        <!-- Style global -->
        <a class="btn" href="#batman-cinema">VOIR LES HEROS</a>
        <a class="btn" href="#batman-nemesis">LES ADVERSAIRES</a>
      </div>
    </div>
    <img
      class="arrow"
      src="../../../assets/img/logos/arrow_down_header.png"
      alt=""
    />
  </div>
</section>
