@import '../../../assets/styles/colors';
@import '../../../assets/styles/typo';
@import '../../../assets/styles/global';

.navbar {
  background: $color-black;
  padding: 10px 150px;
}

.nav-link {
  color: $color-white;
  text-transform: uppercase;
  font-family: 'Rajdhani';
  font-size: 25px;
  padding: 10px;
  font-weight: 500;
  &:hover {
    color: $color-yellow-1;
  }
}