@import '../../../assets/styles/colors';
@import '../../../assets/styles/global';
@import '../../../assets/styles/typo';

.navbar {
  // background: $color-white;
  padding: 10px 50px;
}

.nav-link {
  color: $color-white;
  text-transform: uppercase;
  font-family: 'Rajdhani';
  font-size: 25px;
  padding: 10px;
  font-weight: 500;
  &:hover {
    color: $color-yellow-1;
  }
}

.active {
  font-weight: bolder;
  text-decoration: underline;
  color: $color-white !important;
}